@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --cyan: hsl(179, 62%, 43%);
    --cyan-backgr: hsl(179, 53%, 55%);
    --cyan-1: hsl(180, 56%, 94%);
    --cyan-2: hsl(179, 58%, 68%);
    --cyan-3: hsl(179, 49%, 83%);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    background-color: var(--light-gray);
}

h1 {
    font-size: 1.2em;
}

h2 {
    font-size: 1.1em;
    padding-bottom: 1.1em;
}

span {
    font-size: 2em;
    font-weight: 700;
    padding-right: .3em;
    color: var(--cyan-1);
}

button {
    background-color: var(--bright-yellow);
    border: none;
    border-radius: 6px;
    width: 100%;
    height: 3.5em;
    box-shadow: 0 5px 15px rgba(106, 112, 121, 0.5);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: 1.1em;
    font-weight: 700;
    letter-spacing: 1px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    height: 100vh;
}

.box-container {
    display: flex;
    flex-direction: column;
    width: 20em;
    height: max-content;
    box-shadow: 0 0 20px hsl(218, 22%, 67%, 0.3);
    border-radius: 5px;
    overflow: hidden;
    /* border: 1px solid red; */
}

.box {
    padding: 1.6em 1.2em;
    color: var(--grayish-blue);
}

.box-middle,
.box-bottom {
    color: var(--cyan-1);
}

.box-top {
    background-color: hsl(0, 0%, 100%);
}

.box-top h1 {
    color: var(--cyan);
}

.box-top p:first-of-type {
    color: var(--bright-yellow);
    font-weight: 700;
    font-size: 0.9em;
    line-height: 1.4;
    padding: 1.5em 0 1.3em;
}

.box-top p:last-of-type {
    font-size: 0.9em;
    line-height: 1.9;
}

.box-middle {
    background-color: var(--cyan);
}

.box-middle p:first-of-type {
    display: flex;
    align-items: center;
    color: var(--cyan-2);
}

.box-middle p:last-of-type {
    color: var(--cyan-3);
    padding: .5em 0 1.9em;
}


.box-bottom {
    background-color: var(--cyan-backgr);
}

.box-bottom p {
    color: var(--cyan-3);
    font-size: 0.9em;
    padding: .2em;
    line-height: 1;
}

@media screen and (min-width: 376px) {

    h1 {
        font-size: 1.4em;
    }
    
    .box-container {
        flex-direction: row;
        flex-wrap: wrap;
        width: 40em;
    }

    .box {
        padding: 2.5em;
    }
    .box-middle,
    .box-bottom {
        flex: 50%;
    }

    .box-top p:first-of-type {
        font-size: 1.1em;
        padding: 1.3em 0 .5em;
    }

    .box-top p:last-of-type {
        font-size: 1em;
        line-height: 1.7;
    }
}